.main {
  width: 50%;
  background-color: #9074ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-weight: 500;
  margin-bottom: 20px;
}

.main ul {
  margin: 0;
  padding: 0;
}

.main li {
  padding: 5px 20px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.main li:nth-child(odd) {
  background-color: #92fa75;
}

.main li:nth-child(even) {
  background-color: #fff764;
}
